# ===== Node / Angular / Ionic =====
node_modules/
dist/
www/
out/
.tmp/
.angular/

# ===== Environment files =====
src/environments/*.ts
!.example.env

# ===== Build / cache =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.cache/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
*.swp

# ===== Capacitor =====
android/
ios/

# ===== Supabase =====
.env
.env.local
.env.production
