<ion-header class="glass-header">
  <ion-toolbar>

    <!-- Logo / Brand -->
    <ion-title class="brand">
      <ion-icon name="layers-outline"></ion-icon>
      Angular Supabase
    </ion-title>

    <!-- Ações -->
    <ion-buttons slot="end">

      <ion-button
        *ngIf="!isAuthenticated()"
        routerLink="/sign-in"
        fill="clear"
        class="nav-btn">
        Entrar
      </ion-button>

      <ion-button
        *ngIf="isAuthenticated()"
        routerLink="/profile"
        fill="clear"
        class="nav-btn">
        Perfil
      </ion-button>

      <ion-button
        *ngIf="isAuthenticated()"
        fill="clear"
        class="nav-btn danger"
        (click)="signOut()">
        Sair
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<router-outlet></router-outlet>
